@import './reset';
@import './vendor/variables';
@import './vendor/buttons';
@import './vendor/inputs';
@import './vendor/pagination';
@import './vendor/table';
@import './vendor/typography';
@import './vendor/checkbox';

* {
    box-sizing: border-box;
}
body {
    background-color: white;
    margin: 0;
    padding: 0;

}